<h1>
  #<%= @bug.id.to_s + ': ' + @bug.title %>
</h1>

<dl class="dl-horizontal">
  <dt>Reporter:</dt>
  <dd>
    <span class="<%= @bug.reporter ? '' : 'bg-warning text-warning' %>">
      <%= @bug.reporter ? @bug.reporter.email : 'unassigned' %>
    </span>
  </dd>

  <dt>Assignee:</dt>
  <dd>
    <span class="<%= @bug.assignee ? '' : 'bg-warning text-warning' %>">
      <%= @bug.assignee ? @bug.assignee.email : 'unassigned' %>
    </span>
  </dd>

  <dt>Description:</dt>
  <dd><%= @bug.description %></dd>

  <dt>Tags:</dt>
  <dd><%= @bug.tags %></dd>

  <dt>Closed:</dt>
  <dd>
    <span class="<%= @bug.closed ? 'bg-success' : 'bg-danger' %>">
      <%= @bug.closed %>
    </span>
  </dd>
</dl>

<p>
  <%= link_to 'Edit', edit_bug_path(@bug), class: 'btn btn-default' %>
  &nbsp;&nbsp;<%= link_to 'Back', bugs_path %>
</p>
