<%= form_for(@bug) do |f| %>

  <%= hidden_field :bug, :reporter_id %>

  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, {class: 'form-control', autofocus: 'autofocus'} %>
  </div>
  <div class="form-group">
    <label for="bug_reporter">Reporter</label>
    <p class="form-control-static" id="bug_reporter"><%= @bug.reporter.email %></p>
  </div>
  <div class="form-group">
    <%= f.label :assignee_id %>
    <%= f.collection_select :assignee_id, User.all, :id, :email, {include_blank: 'Unassigned'}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'form-control' %>
  </div>
  <div class="checkbox">
    <label for="bug_closed">
      <%= f.check_box :closed %>
      Closed
    </label>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
